@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,700&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #eef9fa;
}

h1{
  color: #eef9fa;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 3em;
  color: #eef9fa;
}

p {
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.015em;
    font-weight: 400;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  padding: 0px 5px 0px 5px;
}

header{
  background-image: url("img/header_bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.logo{
  width: 80px;
}

nav{
  display: flex;
  justify-content: space-between;
}

.hide-mobil{
  display: none;
}

.menu{
  background-color: green;
}

.titeltext{
    margin: 0 auto;
}

.circle{
  position: absolute;
  background-color: #000000d9;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.circle-content{
    padding-top: 18%;
}

.line{
  position: absolute;
  border-color: yellow;
  height: 520px;
  width: 30px;
  background-color: green;
}
