body {
  margin: 0;
  padding: 0;
  background-color: #eef9fa;
}

::selection {background: #373353e6; color: #ffffff;}
::-moz-selection {background: #373353e6; color: #ffffff;}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  height: 90px;
  background-color: #1e1e1e;
}

.menu {
  float: right;
  line-height: 90px;
  margin-right: 45px;
}

.menu a {
  text-decoration: none;
  color: #969696;
  margin-left: 33px;
  clear: right;
  display: inline-block;
  vertical-align: middle;
}

.menu a:hover {
  color: #eef9fa;
}

nav img {
  height: 70px;
  float: left;
  margin: 42px 0 0 13px;
}

#toggle {
  display: none;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px
  float right;
}

@media screen and (max-width: 580px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: green;
  }
  .menu a {
    display: inline-block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #13c680;
    text-align: center;
    position: relative;
  }

  #toggle:checked + .menu {
    display: block;
  }
}

header {
  background-color: #1e1e1e;
  height: 1000px;
}

header .titeltext {
  width: 37%;
  font-family: 'Cutive Mono', monospace;
  margin: auto;
}

header h1 {
  font-weight: 400;
  font-size: 7.2em;
  color: #eef9fa;
  padding-top: 192px;
  margin: 0;
}

header p {
  font-weight: 400;
  font-size: 1.4em;
  color: #969696;
  letter-spacing: 0.015em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#scrollmouse {
    position:relative;
    top:50%;
    left:50%;
}

header img {
    margin-left: auto;
    margin-right: auto;
    display:block;
    height: 50px;
    margin-bottom: 50px;
}

header .verticallinks {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg); /* Standard syntax */
  float: left;
  margin: -166px 0 0 34px;
}

header .verticallinks a {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3em;
  text-decoration: none;
  padding-right: 30px;
  color: #eef9fa;
}

header .verticallinks a:hover {
  color: #969696;
}

#blogbutton {
  background-color: green;
  display: none;
}

#highlight {
  background-color: #373353;
  padding: 0 15px 0 15px;
  line-height: 250px;
  line-height: 75px;
}

#icons {
  height: 300px;
  background-color: #eef9fa;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#icons > div {
  padding: 0 40px 0 40px;
  display: inline-block;
}

#projects {
  margin-top: 200px;
  height: 800px;
  background-color: #1e1e1e;
  overflow: hidden;
}

#projects h2 {
  margin-top: 100px;
  margin-bottom: 49px;
  color: #1e1e1e;
  font-size: 3em;
  color: #eef9fa;
  font-family: 'Cutive Mono', monospace;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
}

#projects img {
  height: 400px;
  width: auto;
  margin: 0 auto 0 auto;
  display: block;
}

#projects h3 {
  color: #eef9fa;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#work {
  height: 900px;
  background-color: #13c680;
  overflow: hidden;
}

#work > h2 {
  margin-top: 100px;
  margin-bottom: 49px;
  color: #eef9fa;
  font-weight: 300;
  font-size: 3.2em;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}

#ueber {
  background-color: #eef9fa;
  height: 900px;
  overflow: hidden;
}

#ueber h2 {
  margin-top: 270px;
  margin-bottom: 49px;
  color: #1e1e1e;
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#ueber p {
  font-weight: 400;
  font-size: 1.4em;
  color: #969696;
  letter-spacing: 0.015em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#skills {
  height: 400px;
  background-color: green;
}

#blogsection {
  height: 350px;
  background-color: blue;
}

#contact {
  height: 760px;
  background-color: #1e1e1e;
  overflow: hidden;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  position: relative;
}

#contact > h2 {
  margin-top: 200px;
  margin-bottom: 49px;
  color: #eef9fa;
  font-weight: 300;
  font-size: 2.4em;
}

#contact > a {
  margin-top: 40px;
  text-decoration: none;
  margin: 0 5px 0 5px;
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  color: #969696;
}

#contact > img {
  margin-top: 123px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

#impressum {
  position: absolute;
  bottom: 1px;
  margin: 0 -0 0 -33px;
  font-size: 0.9em;
  font-weight: 300;
  color: #777;
  text-decoration: none;
  font-size: 0.7em;
}

#skillsection {
  height: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
}

.progressbar {
  height: 20px;
  width: 80%;
  background-color: #eef9fa33;
  margin:20px 0 20px 20%;
}

.skilltag {
  float: left;
  width: 20%;
  height: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #eef9fa;
}

.tagjava {
  width: 30%;
}

.taghtml{
  width: 70%;
}

.tagcss {
  width: 50%;
}

.taglinux{
  width: 15%;
}

.tagphotoshop{
  width: 90%;
}

.tagillustrator{
  width: 50%;
}

.tagblender{
  width: 80%;
}

.progress {
  background-color: #373353;
  height: 100%;
}

.grid .tumbnail {
  width: 150px;
    height: 150px;
    background-image: url("img/grid/picturegrid02.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
